* {
    box-sizing: border-box;
    font-family: "Funnel Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: black;
}

body {
    background-color: FloralWhite;
}

p {
    font-size: 175%;
}

h2 {
    font-size: 4rem;
}

a {
    text-decoration: none;
}

#nav-bar a, li a {
    font-size: 150%;
}

#nav-bar a:hover, li a {
    text-decoration: underline;
}

#header {
    padding-left: 15px;
    height: 55px;
    background-color: white;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

#header-img {
    object-fit: contain;
    max-height: 40px;
}

#nav-bar {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#purchase-link {
    color: White;
    background-color: LightCoral;
    padding: 12px;
    border-radius: 20px;
}

/* First section */
#about-section {
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, White 25%, LightCoral);
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
}

#collection-heading {
    font-size: 2.5rem;
    margin-top: 2rem;
}

#clothing-name {
    font-size: 10rem;
    font-weight: bold;
    margin: 2rem 0;
}

#name-br {
    display: none;
}

#product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10vh;
}

#product-image {
    min-width: 500px;
    margin-right: 5vw;
}

#back-rectangle {
    width: min(375px, 40vw);
    height: 400px;
    padding: 3vw;
    position: relative;
    right: 3vw;
    background-color: MistyRose;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 50px rgba(130, 120, 110, 0.3);
}

#description-wrapper {
    width: 85%;
}

#product-description {
    font-family: Onest, "Funnel Sans", sans-serif;
    line-height: 175%;
}

/* Second section */
#attributes-section {
    background-color: SlateBlue;
    padding: 10vh 0;
}

#attributes-list {
    width: min(1000px, 65%);
    padding: calc(10vh + 3rem);
    border-radius: 15% / 22.5%;
    margin: auto;
    background-color: Lavender;
    margin-top: 5rem;
    list-style: none;
}

.attribute-header {
    display: inline-block;
    margin: 3rem 0;
}

#video-wrapper {
    width: min(1000px, 65%);
    padding: 5vh;
    margin: auto;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video-title {
    color: White;
    font-size: 3rem;
    font-style: italic;
    margin: 2vw;
    padding-bottom: 0.5vh;
    border-bottom: solid 1.5px white;
}

#video {
    width: 960px;
    height: 540px;
}

/* Third section */
#purchase-section {
    background: repeating-linear-gradient(white, ivory 75px);
    padding: 10vh 0;
}

#purchase-wrapper {
    width: 800px;
    margin: auto;
    padding: 10vh 0;
}

#purchase-headidng {
    margin-bottom: 15px;
}

#email {
    width: 80%;
    margin-top: max(5vh, 30px);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px LightCoral;
    display: block;
}

#email::placeholder {
    color: LightCoral;
    opacity: 0.5;
}

#submit {
    padding: 10px;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    background-color: LightCoral;
    color: white;
    font-size: 1.25rem;
}


footer {
    background-color: DarkSlateGray;
    margin-bottom: 0;
    padding: 5vh;
    display: flex;
    flex-direction: column;
}

footer ul, footer p {
    display: flex;
    width: 40vw;
    justify-content: flex-end;
    line-height: 2.5rem;
    margin: auto;
    list-style: none;
    margin-bottom: 20px;

}

footer ul li {
    margin-left: 10px;
}

footer ul li a, footer p {
    color: linen;
}

footer p {
    font-weight: 100;
    text-align: right;
}

@media (max-width: 960px) {
    #header {
        padding: 0;
    }

    #clothing-name {
        font-size: 7.5rem;
    }

    #product {
        margin: auto;
        flex-direction: column;
    }

    #product-image {
        margin-right: 0;
        margin-bottom: 5vh;
        width: 70%;
    }

    #back-rectangle {
        right: 0;
        width: 70%;
        height: 300px;
        border-radius: 10% / 22.5%;
    }
    
    #attributes-list {
        border-radius: 20% / 15%;
        padding: 8vh;
    }

    .attribute-header {
        font-size: 2.5rem;
    }

    #video {
        width: 480px; 
        height: 270px;
    }

    #purchase-wrapper {
        width: 80%;
    }

    footer {
        padding: 5vw 0;
    }

    footer ul, footer p {
        width: 80%;
    }
}

@media (max-width: 580px) {
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 125%;
    }

    i {
        display: none;
    }

    #header {
        flex-direction: column;
        height: 100px;
        justify-content: space-evenly;
    }

    #header-img {
        margin: 5px 0;
    }

    #nav-bar a {
        margin: 0 10px;
        font-size: 1.15rem;
    }

    #purchase-link {
        background-color: LightCoral;
        padding: 6px;
        border-radius: 20px;
    }

    #clothing-name {
        font-size: 8rem;
        line-height: 100%;
        margin-bottom: 40px;
    }

    #name-br {
        display: block;
    }

    #product-image {
        min-width: 300px;
        width: 300px;
    }

    #back-rectangle {
        height: 200px;
    }

    #attributes-list {
        border-radius: 25% / 10%;
        padding: 4vh;
    }

    .attribute-header {
        font-size: 1.75rem;
    }

    #video {
        width: 320px; 
        height: 180px;
    }

    footer {
        padding: 5vw 0;
    }
}
