:root {
    --main-darkest: #222831;
    --main-darker: #393E46;
    --secondary-darker: #948979;
    --secondary-lighter: #DFD0B8;
    --text-main-color: LightGray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--main-darkest);
    color: var(--text-main-color);
}

/* Navbar styling */
#navbar {
    height: 48px;
    background-color: rgba(57, 62, 70, 0.9);
    display: flex;
    align-items: center;
    position: sticky;
    top: -0.1px;
}

#links {
    margin: auto;
    width: 17rem;
    display: flex;
    justify-content: space-evenly;
}

#navbar a {
    color: var(--text-main-color); 
    text-decoration: none;
    font-family: 'Jost', 'Inter', Helvetica, Arial, sans-serif;
}

#navbar a:hover {
    text-decoration: underline;
    color: LightCoral;
}

/* Welcome section */
#welcome-section {
    height: 100vh;
    background-color: var(--main-darkest);
    color: var(--text-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Tera', Helvetica;
}

#welcome-section h1 {
    font-weight: initial;
    font-size: 2rem;
}

#welcome-section p {
    float: left;
}

#name-box {
    display: inline-block;
    background: linear-gradient(
        45deg,
        RebeccaPurple,
        LightCoral
    );
    background-clip: text;
}

#name {
    font-family: 'Gabarito', Helvetica;
    font-size: 10rem;
    color: rgba(211, 211, 211, 0.25);
}

/* Projects section */
#projects {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(
        LightPink,
        LightCoral
    );
}

#project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile {
    margin: 30px;
    height: 15rem;
    width: 13rem;
    border-radius: 10%;
    background-color: WhiteSmoke;
}
