:root {
    --main-darkest: #222831;
    --main-darker: #393E46;
    --secondary-darker: #948979;
    --secondary-lighter: #DFD0B8;
    --text-main-color: LightGray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-main-color); 
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Navbar styling */
#navbar {
    height: 48px;
    background-color: var(--main-darker);
}


/* Welcome section contents */
#welcome-section {
    height: 100vh;
    background-color: var(--main-darkest);
    color: var(--text-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Tera', Helvetica;
}

#welcome-section h1 {
    font-weight: initial;
    font-size: 2rem;
}

#welcome-section p {
    float: left;
}

#name-box {
    display: inline-block;
    background: linear-gradient(
        90deg,
        RebeccaPurple,
        LightCoral
    );
    background-clip: text;
}

#name {
    font-family: 'Gabarito';
    font-size: 10rem;
    color: rgba(211, 211, 211, 0.5);
}
